<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="wheel_radius" value="0.07"/>
    <xacro:property name="wheel_thickness" value="0.05"/> 
    <xacro:property name="wheel_mass" value="0.2"/>
    <xacro:property name="wheel_offset_x" value="0.2"/>
    <xacro:property name="wheel_offset_y" value="${chassis_width/2 + wheel_thickness/2}"/>
    <xacro:property name="wheel_offset_z" value="0.0"/>

    <!-- Gazebo plugin for 4-wheel drive robots -->
   <gazebo>
      <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <!-- <ros>
          <remapping>odom:=odom/unfiltered</remapping>
        </ros> -->
        <!-- <updateRate>100</updateRate> -->

        <!-- Wheel Info -->
        <num_wheel_pairs>2</num_wheel_pairs>
        <left_joint>front_left_wheel_joint</left_joint>
        <right_joint>front_right_wheel_joint</right_joint>
        <left_joint>rear_left_wheel_joint</left_joint>
        <right_joint>rear_right_wheel_joint</right_joint>

        <wheel_separation>${wheel_offset_y*2}</wheel_separation>
        <wheel_separation>${wheel_offset_y*2}</wheel_separation>
        <wheel_diameter>${wheel_radius*2}</wheel_diameter>
        <wheel_diameter>${wheel_radius*2}</wheel_diameter>

        <!-- Limits -->
        <max_wheel_torque>10</max_wheel_torque>
        <max_wheel_acceleration>2.0</max_wheel_acceleration>

        <!-- Frames -->
        <odometry_frame>odom</odometry_frame>
        <robot_base_frame>base_link</robot_base_frame>

        <!-- Output -->
        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>
      </plugin>
    </gazebo>

</robot>